<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input type="text" class="form-control" 
        formControlName="name" 
          #name
          [(ngModel)] = "member.name"/>
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Bio </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="bio" 
        #bio
        [(ngModel)] = "member.bio"></textarea>
      </div>
      <div *ngIf="angForm.controls['bio'].invalid && (angForm.controls['bio'].dirty || angForm.controls['bio'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['bio'].errors.required">
          Biografi is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Age</label>
        <input type="text" class="form-control" 
        formControlName="age" 
        #age
        [(ngModel)] = "member.age"/>
      </div>
      <div *ngIf="angForm.controls['age'].invalid && (angForm.controls['age'].dirty || angForm.controls['age'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['age'].errors.required">
          Age is required.
        </div>
        <div *ngIf="angForm.controls['age'].errors.pattern">
          Number only.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid"
        (click) = "updateMember(name.value, bio.value, age.value)">Update </button>
      </div>
    </form>
  </div>
</div>